@import './reset.css';

*, 
*::before,
*::after {
    box-sizing: border-box;
} 

/* 
html {
    font-size: 62.5%;
} */

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
h2 {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

h1 {
    font-size: 3.5rem !important;
}

h2 {
    font-size: 2rem; 
    padding: none;
}


.banner {
    background-image: linear-gradient(darkblue, blue);
    text-align: center;
}


.main {
    height: 35vh !important;
    border: none !important;
}

.main p {
    margin-left: 1rem;
}

.card {
    height: 31vh;

    height: auto;


}

.card--primary {
    background-color: darkblue !important;
}

#city-name {
    height: 5rem;
}




/* Searh Bar */

.search-bar h2 {
    margin-top: 1rem;
}





/* Five Day Forecast */

.five-day-forecast h2 {
    margin-left: 4rem !important;
}