@import './reset.css';

*, 
*::before,
*::after {
    box-sizing: border-box;
} 

/* 
html {
    font-size: 62.5%;
} */

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
h2 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.5rem !important;
}

h2 {
    font-size: 2rem; 
}

.banner {
    background-image: linear-gradient(darkblue, blue);
    text-align: center;
}


/* .main {
    height: 25vh !important;
} */

.card {
    height: 33vh;
}

.card--primary {
    background-color: darkblue !important;
}