body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

#five-day-fore-card {
    border: 5px solid yellow
}





/* Card */

/* .card {
    
}


.card--primary {
    background-color: ;
} */